/* line 3, ../sass/layout/_header.scss */
header nav .brand-logo {
  color: #4a4a4a;
  font-weight: 200;
}
/* line 9, ../sass/layout/_header.scss */
header nav ul li a {
  color: #FFFFFF;
  font-weight: 300;
}
/* line 13, ../sass/layout/_header.scss */
header nav ul li.active {
  background-color: #EEEEEE;
}
/* line 19, ../sass/layout/_header.scss */
header nav.lightgreen {
  background-color: #23d0c1;
}
/* line 23, ../sass/layout/_header.scss */
header nav nav {
  box-shadow: 0 0 0 0 #000;
}
/* line 29, ../sass/layout/_header.scss */
header nav i {
  height: auto;
  line-height: 1.5em;
}
/* line 35, ../sass/layout/_header.scss */
header nav .input-field.active {
  width: 200px;
}
/* line 37, ../sass/layout/_header.scss */
header nav .input-field.active input[type="search"] {
  width: 100px;
  padding-right: 50px;
}
/* line 40, ../sass/layout/_header.scss */
header nav .input-field.active input[type="search"] ~ i {
  right: 0;
}
/* line 46, ../sass/layout/_header.scss */
header nav .input-field label {
  height: auto;
}
/* line 48, ../sass/layout/_header.scss */
header nav .input-field label i {
  height: auto;
  line-height: 1.5em;
}

/* line 1, ../sass/layout/_buttons.scss */
.custom-btn {
  font-family: "Lato", sans-serif;
  font-size: 0.8125rem;
  font-weight: 300 !important;
  margin-left: auto;
  margin-right: auto;
  color: #4a4a4a;
  background-color: #FFFFFF;
  border-color: #EEEEEE;
  border-width: 1px;
  border-style: solid;
  padding: 0.313rem 1.375rem;
  border-radius: 4px;
  -webkit-transition: opacity 1.5s ease-in-out 0s;
  -moz-transition: opacity 1.5s ease-in-out 0s;
  -o-transition: opacity 1.5s ease-in-out 0s;
  transition: opacity 1.5s ease-in-out 0s;
}
/* line 18, ../sass/layout/_buttons.scss */
.custom-btn:hover, .custom-btn:focus, .custom-btn:active {
  opacity: 0.75;
  filter: alpha(opacity=75);
  text-decoration: none;
}
/* line 23, ../sass/layout/_buttons.scss */
.custom-btn.r {
  border-radius: 18px;
}
/* line 26, ../sass/layout/_buttons.scss */
.custom-btn.plain {
  background-color: transparent;
  opacity: 0.9;
  border: 0;
  color: #7d7d7d;
  -webkit-transition: opacity 1s ease-in-out 0;
  -moz-transition: opacity 1s ease-in-out 0;
  -o-transition: opacity 1s ease-in-out 0;
  transition: opacity 1s ease-in-out 0;
}
/* line 32, ../sass/layout/_buttons.scss */
.custom-btn.plain:hover, .custom-btn.plain:focus, .custom-btn.plain:active {
  opacity: 1;
}
/* line 36, ../sass/layout/_buttons.scss */
.custom-btn.outline {
  -webkit-transition: background-color 1s ease-in-out 0s, border 0.1s ease-in-out 0s;
  -moz-transition: background-color 1s ease-in-out 0s, border 0.1s ease-in-out 0s;
  -o-transition: background-color 1s ease-in-out 0s, border 0.1s ease-in-out 0s;
  transition: background-color 1s ease-in-out 0s, border 0.1s ease-in-out 0s;
}
/* line 38, ../sass/layout/_buttons.scss */
.custom-btn.outline:hover, .custom-btn.outline:focus, .custom-btn.outline:active {
  text-decoration: none !important;
  color: #4a4a4a;
}
/* line 46, ../sass/layout/_buttons.scss */
.custom-btn.btn-white {
  background-color: #FFFFFF;
  color: #4a4a4a;
}
/* line 50, ../sass/layout/_buttons.scss */
.custom-btn.btn-orange {
  border-color: #f59e00;
  background-color: #ffa500;
  color: #FFFFFF;
}
/* line 55, ../sass/layout/_buttons.scss */
.custom-btn.btn-black {
  border: none;
  background: #292929 !important;
  padding: 0px 40px;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff !important;
  line-height: 44px;
  height: 44px;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  letter-spacing: .025em;
  border-radius: 0;
}
/* line 71, ../sass/layout/_buttons.scss */
.custom-btn.expand {
  width: 100%;
  display: inline-block;
  text-align: center;
}
/* line 77, ../sass/layout/_buttons.scss */
.custom-btn * {
  font-family: "Lato", sans-serif;
}

/* line 86, ../sass/layout/_buttons.scss */
button.button.outline, a.button.outline {
  font-size: 0.8125rem;
  color: #4a4a4a;
  background-color: transparent;
  border-color: #EEEEEE;
  border-width: 1px;
  border-style: solid;
}

/* line 96, ../sass/layout/_buttons.scss */
.off-canvas-wrap .inner-wrap a {
  color: #4a4a4a;
}

/* line 1, ../sass/pages/_home.scss */
.parallax-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 5, ../sass/pages/_home.scss */
.parallax-container h1 {
  color: #c9f6f2;
  font-size: 3.2rem;
  text-shadow: 1px 2px 2px #000;
}
/* line 11, ../sass/pages/_home.scss */
.parallax-container h5 {
  color: #e6e6e6;
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  background-color: rgba(8, 9, 9, 0.4);
}
/* line 18, ../sass/pages/_home.scss */
.parallax-container.top-banner {
  width: 100%;
}
/* line 20, ../sass/pages/_home.scss */
.parallax-container.top-banner h5 {
  background-color: transparent;
}

/* line 27, ../sass/pages/_home.scss */
.custom-tip-services h2 {
  color: #147970;
  text-shadow: 1px 10px 2px #72e7dd;
}
/* line 31, ../sass/pages/_home.scss */
.custom-tip-services h4 {
  font-size: 2rem;
  color: #1ba598;
}
/* line 35, ../sass/pages/_home.scss */
.custom-tip-services h5 {
  font-size: 1.2rem;
  color: #1ba598;
  min-height: 2rem;
}

/* line 42, ../sass/pages/_home.scss */
.custom-categories {
  padding: 20px;
  background-color: #1ba598;
  overflow: hidden;
}
/* line 48, ../sass/pages/_home.scss */
.custom-categories h2 {
  padding: 0 0 20px;
  margin: 0;
  color: #FFFFFF;
  font-size: 1em;
}
/* line 54, ../sass/pages/_home.scss */
.custom-categories > .row {
  margin-bottom: 0;
}
/* line 57, ../sass/pages/_home.scss */
.custom-categories .custom-category {
  height: 380px;
  position: relative;
  width: 100%;
  display: block;
}
/* line 62, ../sass/pages/_home.scss */
.custom-categories .custom-category .category-bg {
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: #443e53;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 71, ../sass/pages/_home.scss */
.custom-categories .custom-category .category-bg.digital {
  background-image: url("../images/img_digital.jpg");
}
/* line 74, ../sass/pages/_home.scss */
.custom-categories .custom-category .category-bg.painted {
  background-image: url("../images/img_painted.jpg");
}
/* line 79, ../sass/pages/_home.scss */
.custom-categories .custom-category .middle {
  position: absolute;
  width: 60%;
  opacity: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
/* line 87, ../sass/pages/_home.scss */
.custom-categories .custom-category .middle .text {
  opacity: 0.8;
  color: #1ba598;
  padding: 20px;
  background: #cacaca;
}
/* line 97, ../sass/pages/_home.scss */
.custom-categories .custom-category:hover .category-bg.digital {
  opacity: 0.5;
}
/* line 100, ../sass/pages/_home.scss */
.custom-categories .custom-category:hover .category-bg.painted {
  opacity: 0.5;
}
/* line 105, ../sass/pages/_home.scss */
.custom-categories .custom-category:hover .middle {
  opacity: 1;
}

/* line 1, ../sass/pages/_category_listing.scss */
.custom-panel {
  font-size: 0.8125rem;
  border: 1px solid #eaeaea;
  margin-bottom: 40px;
  padding: 0 20px 30px 20px;
}
/* line 8, ../sass/pages/_category_listing.scss */
.custom-panel .custom-filter h4 {
  font-size: 0.875rem;
}
/* line 12, ../sass/pages/_category_listing.scss */
.custom-panel .custom-filter.filter-price .filter-price-range {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
}
/* line 17, ../sass/pages/_category_listing.scss */
.custom-panel .custom-filter.filter-price .filter-price-range input[disabled="disabled"] {
  max-width: 40px;
  max-height: 20px;
  width: auto;
  height: auto;
  border: 0;
  margin: 0;
}
/* line 27, ../sass/pages/_category_listing.scss */
.custom-panel .custom-filter .list-group-item {
  display: block;
  padding: 5px;
}
/* line 31, ../sass/pages/_category_listing.scss */
.custom-panel .custom-filter .list-group-item.all span {
  visibility: hidden;
  font-size: 0.875rem;
  font-weight: bold;
}
/* line 37, ../sass/pages/_category_listing.scss */
.custom-panel .custom-filter .list-group-item label input[type="checkbox"], .custom-panel .custom-filter .list-group-item label input[type="radio"] {
  position: static;
  opacity: 1;
  margin-right: 5px;
}
/* line 43, ../sass/pages/_category_listing.scss */
.custom-panel .custom-filter .list-group-item:last-child {
  position: relative;
}
/* line 45, ../sass/pages/_category_listing.scss */
.custom-panel .custom-filter .list-group-item:last-child::after {
  background-color: rgba(0, 0, 0, 0.1);
  height: 1px;
  bottom: -10px;
  left: 0;
  width: 100%;
  position: absolute;
  content: '';
}
/* line 60, ../sass/pages/_category_listing.scss */
.custom-panel .custom-filter.filter-category:last-child {
  position: relative;
}
/* line 62, ../sass/pages/_category_listing.scss */
.custom-panel .custom-filter.filter-category:last-child::after {
  background-color: #FFFFFF;
  height: 1px;
  bottom: -10px;
  left: 0;
  width: 100%;
  position: absolute;
  content: '';
}

/* line 77, ../sass/pages/_category_listing.scss */
.custom-block-container {
  margin-top: 10px;
}

/* line 81, ../sass/pages/_category_listing.scss */
.custom-container .custom-toolbar {
  border: 1px solid #EEEEEE;
  padding: 10px;
}
/* line 87, ../sass/pages/_category_listing.scss */
.custom-container .custom-block-cards .card.custom-card .card-content {
  padding: 4px;
}
/* line 90, ../sass/pages/_category_listing.scss */
.custom-container .custom-block-cards .card.custom-card .card-image {
  position: relative;
}
/* line 93, ../sass/pages/_category_listing.scss */
.custom-container .custom-block-cards .card.custom-card .card-image .card-action {
  position: absolute;
  bottom: 20px;
  padding: 0;
  font-size: 0.8125rem;
  width: 100%;
  text-align: center;
}
/* line 101, ../sass/pages/_category_listing.scss */
.custom-container .custom-block-cards .card.custom-card .card-image .card-action a {
  color: #FFFFFF;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin-right: 5px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  bottom: -30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
/* line 121, ../sass/pages/_category_listing.scss */
.custom-container .custom-block-cards .card.custom-card:hover .card-action a:nth-child(1) {
  animation: moveLess 0.2s forwards;
}
/* line 124, ../sass/pages/_category_listing.scss */
.custom-container .custom-block-cards .card.custom-card:hover .card-action a:nth-child(2) {
  animation: moveLess 0.3s forwards;
}
/* line 127, ../sass/pages/_category_listing.scss */
.custom-container .custom-block-cards .card.custom-card:hover .card-action a:nth-child(3) {
  animation: moveLess 0.4s forwards;
}
/* line 134, ../sass/pages/_category_listing.scss */
.custom-container .custom-block-cards .card.custom-card .card-title {
  font-size: 0.8125rem;
  font-weight: bold;
  margin-bottom: 0;
  text-align: center;
}
/* line 140, ../sass/pages/_category_listing.scss */
.custom-container .custom-block-cards .card.custom-card .card-price {
  color: #d5d5d5;
  font-size: 0.8125rem;
  text-align: center;
}

@keyframes moveLess {
  0% {
    bottom: -30px;
    opacity: 0;
  }
  50% {
    bottom: -15px;
    opacity: 0.5;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes example {
  0% {
    background-color: red;
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: green;
  }
}
/* line 4, ../sass/pages/_category_detail.scss */
.custom-category-detail .custom-order .order-content .order-title {
  padding: 5px;
}
/* line 6, ../sass/pages/_category_detail.scss */
.custom-category-detail .custom-order .order-content .order-title span:nth-child(1) {
  width: 40%;
  display: inline-block;
  font-weight: bold;
}
/* line 11, ../sass/pages/_category_detail.scss */
.custom-category-detail .custom-order .order-content .order-title span:nth-child(2) {
  width: 60%;
  display: inline-block;
}
/* line 15, ../sass/pages/_category_detail.scss */
.custom-category-detail .custom-order .order-content .order-title button {
  margin-top: 10px;
}
/* line 25, ../sass/pages/_category_detail.scss */
.custom-category-detail .custom-card .card-reveal p {
  margin: 0;
  font-size: 0.8125rem;
}

/* line 30, ../sass/default.scss */
html, body {
  font-size: 100%;
}

/* line 35, ../sass/default.scss */
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* line 42, ../sass/default.scss */
img, svg {
  max-width: 100%;
}
