.parallax-container{
	display: flex;
    align-items: center;
    justify-content: center;
	h1{
		color: $lightgreen;
		font-size:3.2rem;
		@include single-text-shadow(1px, 2px, 2px, #000);
	}

	h5{
		color: darken($white,10%);
		font-size: 1.5rem;
		@include single-text-shadow(1px, 1px, 1px, rgba(0,0,0,0.6));
		background-color: rgba(8,9,9,0.4)
	}

	&.top-banner{
		h5{
			background-color: transparent;
		}
	}
}

.custom-tip-services{
	h2{
		color: darken($lightgreen,60%);
		@include single-text-shadow(1px, 10px, 2px, darken($lightgreen,20%));
	}
	h4{
		font-size:2rem;
		color: darken($lightgreen,50%);
	}
	h5{
		font-size:1.2rem;
		color: darken($lightgreen,50%);
		min-height:2rem;
	}
}