/* ------------------------------------ VARIABLES, FUNCTIONS, MIXINS -------------------------------*/
$white: #FFFFFF;
$black: #000000;
$grey: #333333;
$regent-grey: #808c99;
$pale-sky: #6b717f;


/* ------------------------------------ ICONS -------------------------------*/
.custom-icon{
	background-size:25px;
	background-repeat: no-repeat;
	background-position: center center;
	height:25px;
	display: flex;
}

.custom-icon-comment{
	background-image: url('https://d38hjlyzkyrwt6.cloudfront.net/assets_4a945a71d6e5294ebeca65db828b3d8f/img/channels/comment-active.svg');
}

.custom-icon-like{
	background-image: url('https://d38hjlyzkyrwt6.cloudfront.net/assets_4a945a71d6e5294ebeca65db828b3d8f/img/svg/like_icon_grey.svg');
}

/* ------------------------------------ COMMONS -------------------------------*/
.container-area{
	
}


