$black: #000000;
$blue: #4990e2;
$brown: #a52a2a;
$grey: #4a4a4a;
$green: #639d23;
$lightgreen: #c9f6f2;
$white: #FFFFFF;
$red: #ff0000;
$orange: #ffa500;
$violet: #2c2836;


$aliceblue: #f0f8ff;
$antiquewhite: #faebd7;
$lightgrey : #EEEEEE;
$blueviolet: #8a2be2;
$dark-grey: #333333;
$chocolate: #d2691e;
$darkblue: #00008b;
$darkgrey: #a9a9a9;
$darkgreen: #006400;
$deepskyblue: #00bfff;

